{% extends "main.html" %}
{% block index %}
{% load static %}
   <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <a class="btn btn-primary" href="#">Sign In</a>
      </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto bg-primary">
            <h1 class="mb-5" style="text-align: center; float: none;">
              <a class="text-white" href="/levels">היכנס</a>
            </h1>
          </div>
<!--          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">-->
<!--                <div class="col-12 col-md-3">-->
<!--                  <button type="submit" class="btn btn-block btn-lg btn-primary" style="">היכנס</button>-->
<!--                </div>-->
<!--          </div>-->
        </div>
      </div>
    </header>

    <!-- Icons Grid -->


    <!-- Image Showcases -->
<!--    <section class="showcase">-->
<!--      <div class="container-fluid p-0">-->
<!--        <div class="row no-gutters">-->



<!--        </div>-->
<!--        <div class="row no-gutters">-->


<!--        </div>-->
<!--        <div class="row no-gutters">-->


<!--        </div>-->
<!--      </div>-->
<!--    </section>-->

    <!-- Testimonials -->


    <!-- Call to Action -->


    <!-- Footer -->
<!--    <footer class="footer bg-light">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">-->
<!--            <ul class="list-inline mb-2">-->
<!--              <li class="list-inline-item">-->
<!--                <a href="#">About</a>-->
<!--              </li>-->
<!--              <li class="list-inline-item">⋅</li>-->
<!--              <li class="list-inline-item">-->
<!--                <a href="#">Contact</a>-->
<!--              </li>-->
<!--              <li class="list-inline-item">⋅</li>-->
<!--              <li class="list-inline-item">-->
<!--                <a href="#">Terms of Use</a>-->
<!--              </li>-->
<!--              <li class="list-inline-item">⋅</li>-->
<!--              <li class="list-inline-item">-->
<!--                <a href="#">Privacy Policy</a>-->
<!--              </li>-->
<!--            </ul>-->
<!--            <p class="text-muted small mb-4 mb-lg-0">© Your Website 2018. All Rights Reserved.</p>-->
<!--          </div>-->
<!--          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">-->
<!--            <ul class="list-inline mb-0">-->
<!--              <li class="list-inline-item mr-3">-->
<!--                <a href="#">-->
<!--                  <i class="fab fa-facebook fa-2x fa-fw"></i>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="list-inline-item mr-3">-->
<!--                <a href="#">-->
<!--                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="list-inline-item">-->
<!--                <a href="#">-->
<!--                  <i class="fab fa-instagram fa-2x fa-fw"></i>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </footer>-->
{% endblock %}